extends ./layout/homework.jade

block title
  title hw1 - scale and quantize

block last
  a#l_un Last

block next
  a(href='./basic.html') Next

block content
  canvas#pic

block scripts
  script(type='text/javascript' src='./hw1.js')
