doctype html
html
  head
    title Digital Image Process title 
    meta(http-equiv='Content-Type' content='text html')
    meta(name='keywords' content='Image, JS, DIP, Digital Image Processing')
  head 
  body 
    h2 Digital Image Process
    p A course from SYSU.
    p I am trying to finish the homeworks with pure front-end!
    h2 Homeworks
    ul 
      li 
        a(href='./hw1.html') hw1 - scale and quantize
     ul 
  body 
html 
